body {
    background-color: #b3aaa7;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-family: Sans-Serif;
    /* text-align: center; */
}

.navbar {
    background-color: #aa3007;
    color: rgb(134, 10, 10);
    /* margin: 40px; */
    font-family: Sans-Serif;
    /* text-align: center; */
}